@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Rubik+Mono+One&display=swap');

/* Neon animation/ Typed text animation/ were found css tricks code was adapted to current site */

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 800px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 74, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    justify-items: center;
    align-items: center;
}

#header {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1 /span 4;
    text-align: center;
    align-items: center;
    color: white;
    animation: typing 3.5s steps(40, end), blinking-cursor .5s step-end infinite;
}

#playerOneArea {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background: firebrick;
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: 300px 100px 100px;
}
#playerOne {
    grid-row-start: 1;
    grid-row-end: 2;
    background: firebrick;
}
#playerOne p {
    font-size: xx-large;
    color: white;
    
}
#playerOneWins {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: xx-large;
    color: white;
}
#playerOneScore {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: xx-large;
    color: white;
}
#centerDiv {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2 /span 2;
    grid-column-end: 4;
    display: flex;
}

#gameContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(6, 90px);
    height: 100%;
    width: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 74, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    align-content: center;
}

#playerTwoArea {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    background: blue;
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: 300px 100px 100px;
}
#playerTwo {
    grid-row-start: 1;
    grid-row-end: 2;
    background: blue;
}
#playerTwoWins {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: xx-large;
    color: white;
}
#playerTwoScore {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: xx-large;
    color: white;
}
#messageAreaBox {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1 /span 4;
    font-size: 40px;
    color: white;
}
#messageArea {
    padding-right: 20px;
}
#newGame {
    font-size: 40px;
    background-color: inherit;
    cursor: pointer;
    color: white;
    border-color: red;
    box-shadow: 0px 2px 3px black;
    visibility: hidden;
    border-right: 10px;
}
#playerTwo p {
    font-size: xx-large;
    color: white;
}

.cell {
    width: 80%;
    border-radius: 50%;
    background: white;
}


/* Player Piece Animation */

.playerOnePiece {
    border-radius: 50%;
    background: linear-gradient(to bottom, white 50%, firebrick 50%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: all .5s linear;
}

.playerOnePiece::after {
    background-position: right bottom;
}

.playerTwoPiece {
    border-radius: 50%;
    background: linear-gradient(to bottom, white 50%, blue 50%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: all .5s linear;
}

.playerTwoPiece::after {
    background-position: right bottom;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1 /span 4;
}


/* Neon Text effect */

.neon {
    --neon-text-color: #f40;
    --neon-border-color: #08f;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #000;
    min-height: 50vh;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 4rem 4rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%
    }
}

@keyframes blinking-cursor {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}


/* Animate neon flicker */

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}